<mat-dialog-title>
  <h2 *ngIf="food !== undefined">¿Cúanto?</h2>
  <h2 *ngIf="userData !== undefined">{{userData.label}}</h2>
</mat-dialog-title>
<mat-dialog-content>
  <mat-input-container>
    <mat-form-field>
     <input *ngIf="food !== undefined" matInput [(ngModel)]="food.amount" placeholder="cantidad">
    </mat-form-field>
    <input *ngIf="user !== undefined && userData.nomvar == 'birthday'" type="date" matInput [(ngModel)]="user.birthday" [placeholder]="user.birthday">
    <input *ngIf="user !== undefined && userData.nomvar == 'name'" matInput [(ngModel)]="user.name" [placeholder]="user.name">
    <input *ngIf="user !== undefined && userData.nomvar == 'height'" type="number" matInput [(ngModel)]="user.height" [placeholder]="user.height">
    <input *ngIf="user !== undefined && userData.nomvar == 'weight'" type="number" matInput [(ngModel)]="user.weight" [placeholder]="user.weight">
    <input *ngIf="user !== undefined && userData.nomvar == 'postalCode'" type="number" matInput [(ngModel)]="user.postalCode"
      [placeholder]="user.postalCode">
    <input *ngIf="user !== undefined && userData.nomvar == 'mail'" type="mail" matInput [(ngModel)]="user.mail" [placeholder]="user.mail">

    <mat-radio-group name="weight" *ngIf="user !== undefined && userData.nomvar == 'units.weight'" [ngModel]="user.units.weight">
      <mat-radio-button value="0" (change)="updateUnits('weight',0)">Kg</mat-radio-button>
      <mat-radio-button value="1" (change)="updateUnits('weight',1)">Lb</mat-radio-button>
    </mat-radio-group>

    <mat-radio-group name="distance" *ngIf="user !== undefined && userData.nomvar == 'units.distance'" [ngModel]="user.units.distance">
      <mat-radio-button value="0" (change)="updateUnits('distance',0)">Km</mat-radio-button>
      <mat-radio-button value="1" (change)="updateUnits('distance',1)">Millas</mat-radio-button>
    </mat-radio-group>

    <input *ngIf="user !== undefined && userData.nomvar == 'units.Energy'" matInput [(ngModel)]="user.units.Energy" [placeholder]="user.units.Energy">
    <input *ngIf="user !== undefined && userData.nomvar == 'units.water'" matInput [(ngModel)]="user.units.water" [placeholder]="user.units.water">

    <input *ngIf="user !== undefined && userData.nomvar == 'goals.initialWeight'" type="number" matInput [(ngModel)]="user.goals.initialWeight"
      [placeholder]="user.goals.initialWeight">
    <input *ngIf="user !== undefined && userData.nomvar == 'goals.currentWeight'" type="number" matInput [(ngModel)]="user.goals.currentWeight"
      [placeholder]="user.goals.currentWeight">
    <input *ngIf="user !== undefined && userData.nomvar == 'goals.desireWeight'" type="number" matInput [(ngModel)]="user.goals.desireWeight"
      [placeholder]="user.goals.desireWeight">

    <mat-select *ngIf="user !== undefined && userData.nomvar == 'country'" [(ngModel)]="user.country">
      <mat-option *ngFor="let country of countries; let i=index" (change)="updateCountry(i)" [value]="i">{{country}}</mat-option>
    </mat-select>

    <mat-radio-group name="weeklyGoal" *ngIf="user !== undefined && userData.nomvar == 'goals.weeklyGoal'" [ngModel]="user.goals.weeklyGoal">
      <mat-radio-button *ngFor="let goal of goals ; let i = index" (change)="updateWeekyGoal(goal)" [value]="i">{{goal.value}}</mat-radio-button>
    </mat-radio-group>
  </mat-input-container>
</mat-dialog-content>

<mat-dialog-actions class="right">
  <button mat-button mat-dialog-close color="primary">Cancelar</button>
  <button mat-button (click)="save()" mat-dialog-close="true" color="primary">Guardar</button>
</mat-dialog-actions>
