<?xml version="1.0" encoding="UTF-8"?>
<web-app id="richfaces-showcase" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>insaco</display-name>
 
 
 <!-- ***** Accommodate Single-Threaded Requirement of Google AppEngine  -->
 <context-param>
  <description>
            When enabled, the runtime initialization and default ResourceHandler
            implementation will use threads to perform their functions. Set this
            value to false if threads aren't desired (as in the case of running
            within the Google Application Engine).

            Note that when this option is disabled, the ResourceHandler will not
            pick up new versions of resources when ProjectStage is development.
        </description>
  <param-name>com.sun.faces.enableThreading</param-name>
  <param-value>false</param-value>
 </context-param>
 
  <!-- ***** Designate client-side state saving. *****  -->
    <context-param>
       <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
       <param-value>client</param-value>
    </context-param>
 
 <!-- Set the default suffix for JSF pages to .xhtml -->
    <context-param>
       <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
       <param-value>.xhtml</param-value>
    </context-param>
    
 <!-- spring container shared by servlets and filters -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/applicationContext.xml</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
  <param-value>/WEB-INF/degloba_tags.xml</param-value>
 </context-param>
 <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value></param-value>
 </context-param>
 <context-param>
  <param-name>org.apache.myfaces.EXPRESSION_FACTORY</param-name>
  <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.executeAWTInitializer</param-name>
  <param-value>false</param-value>
 </context-param>
 <!-- defines whether the uploaded files are stored in temporary files or 
  available in the listener directly as byte[] data (false for this example -->
 <context-param>
  <param-name>org.richfaces.fileUpload.createTempFiles</param-name>
  <param-value>false</param-value>
 </context-param>
 <!--  <context-param>
  <param-name>facebook_secret</param-name>
  <param-value>19454259f329a7b6857bb86b411f3dc5</param-value>
 </context-param>  -->
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.cache.CACHE_MANAGER_FACTORY_CLASS</param-name>
  <param-value>org.ajax4jsf.cache.lru.LRUMapCacheFactory</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.enableControlSkinning</param-name>
  <param-value>true</param-value>
 </context-param>
<!--  <context-param>
  <param-name>org.richfaces.enableControlSkinningClasses</param-name>
  <param-value>false</param-value>
</context-param> -->
 
 <!--  <context-param>
  <param-name>org.richfaces.executeAWTInitializer</param-name>
  <param-value>false</param-value>
 </context-param>  -->
 <context-param>
  <param-name>org.richfaces.skin</param-name>
  <param-value>blueSky</param-value>
 </context-param>
 
 <listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 
  <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 
 <!-- spring mvc servlet -->
 <servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 
 
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!--  <servlet>
  <description>Per connectar amb Facebook</description>
  <display-name>clientFacebook</display-name>
  <servlet-name>clientFacebook</servlet-name>
  <servlet-class>com.degloba.servlets.clientFacebook</servlet-class>
 </servlet> -->
 <servlet>
  <display-name>Remote API Servlet</display-name>
  <servlet-name>RemoteApiServlet</servlet-name>
  <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <!--  <servlet-mapping>
  <servlet-name>clientFacebook</servlet-name>
  <url-pattern>/servlets/clientFacebook</url-pattern>
 </servlet-mapping> -->
 <servlet-mapping>
  <servlet-name>RemoteApiServlet</servlet-name>
  <url-pattern>/remote_api</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>0</session-timeout>
 </session-config>
</web-app>
