<input   matInput class="big-font" placeholder="Search" [(ngModel)]="search" (keyup)="filter()"  >
 
<mat-divider></mat-divider>
<mat-tab-group>
  <mat-tab label="Recientes">
    <mat-card>
      <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let food of filteredList" (click)="goToDetail(food)">
              <span class="mat-font" mat-line> {{food.name}}  </span>
              <section layout-align="end" layout-wrap>
                <span class="mat-font">  {{food.calories}}</span>
              </section>
              <p mat-line>
                <span class="sm-font left grey">{{food.description}}, {{food.amount}}{{food.unit}}</span>
              </p>
            </mat-list-item>
          
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Comidas"></mat-tab>

</mat-tab-group>
