<!--<mat-toolbar color="primary">  -->


    <!-- <button md-icon-button md-button (click)="sidenav.toggle()"> -->
 <!--   <button mat-icon-button mat-button [matMenuTriggerFor]="appMenu">
     <img src="../assets/icon.png" style="width: 2.5em;"/>
    </button>
 
    <span class="version">{{version}}</span>
    <button *ngIf="activaCancelBotton" class="element-flex" mat-icon-button md-button (click)=goBack()>
      <mat-icon class="icon">clear</mat-icon>
    </button>
    <button *ngIf="activaSaveBotton" class="element-flex" mat-icon-button mat-button (click)=goHome()>
      <mat-icon class="icon">done</mat-icon>
    </button>
 
  
</mat-toolbar>  -->


<!--<mat-menu #appMenu="matMenu">
 
  <button mat-menu-item routerLink="/">
     <mat-icon >home</mat-icon>Home
  </button>
  <button mat-menu-item routerLink="profile">
     <mat-icon  >account_box</mat-icon>Perfil
  </button>
  <button mat-menu-item routerLink="progress">
     <mat-icon>insert_chart</mat-icon>Progreso
  </button>
 
  <button mat-menu-item (click)="doLogout()">
     <mat-icon>launch</mat-icon>Salir
  </button>
</mat-menu> -->

<router-outlet></router-outlet>

<!-- <md-sidenav-layout class="sidenav-layout" >

  
      <md-sidenav #sidenav mode="side" class="sidenav">
          <md-toolbar color="primary">BigFood</md-toolbar>
        <md-nav-list>
          <a md-list-item routerLink="/">
            <md-icon>home</md-icon>Home</a>
          <a md-list-item routerLink="profile">
            <md-icon>account_box</md-icon>Perfil</a>
          <a md-list-item routerLink="progress">
            <md-icon>insert_chart</md-icon>Progress</a>
          <a md-list-item (click)="doLogout()">
            <md-icon>launch</md-icon>Salir</a>
        </md-nav-list>

      </md-sidenav>
   
    
      <router-outlet></router-outlet>
  </md-sidenav-layout> -->