body { 
    margin: 0px 0px 0px 0px;
    font-family: serif;   /* arial Sans serif courier bitstream cursor */
    text-transform: none;
    background-color: #769acb;
    }


/****************************************************/
/* Per fer ZOOM de les imatges (inmobles)           */  
/* detalle_inmoble.jsp                              */
/* http://www.webestilo.com/foros/mensaje.phtml?foro=11&msg=38471 */
/****************************************************/
#zoom{
width:300px;
height:150px;
overflow:auto;
text-align:center;}



/****************************************************/
/* per resaltar les files de les taules
Mirar : http://www.baluart.net/articulo/6/alternar-color-de-filas-con-css.php */
/****************************************************/

.tabla tbody tr:hover, .tabla tbody tr.hilite {
    background-color: #769acb;
    color: #000000;
    font-size: 12px;
    font-family: arial;
    /*font-weight: bold;*/
}


/* LINKS */
 
  a, a:link { 

    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    color: red;
     
    }
    
  a:hover { 
    font-size: 12px;
    font-weight: bold;
    font-family: arial;    
    color: #1105b1; 
    }




.registre { 

    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    color: #7c75e0;
     
    }
    
.registre:hover { 
    font-size: 12px;
    font-weight: bold;
    font-family: arial;    
    font-style: normal;
    color: #1105b1; 
    }


    
/* Note: a:hover MUST come after a:link and a:visited in the CSS 
definition in order to be effective!! Note: a:active MUST come 
after a:hover in the CSS definition in order to be effective!! */
    
    

  .designed_by { 
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: right;
    margin: 30px 30px;
    font-weight: normal;
    /*background-color: #dcddea;*/
    }
 
  .designed_by:hover { 
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: right;
    margin: 30px 30px;
    font-weight: normal;
    color: #1105b1; 

    }  

/********************************************************/   
/*                      TAULA                           */   
/********************************************************/

.capcalera{ color: white;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    background-color: #2c2c6d; 
    text-transform: uppercase; 

    }
 
  tbody { 
    font-size: 12px;
    font-family: arial;
    }
    
/* titol de cada opcio de menu al frame mainFrame */
    
.titol { 
    font-size: 22px;
    font-family: arial;
    font-weight: bold;
    text-align: left;
    color: #fd9213; 
    margin : 10px 10px;
}


/* texte de Benvinguda ( a dalt a l'esquerra ) */

.benvinguda { 
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: left;
    color: black;
    margin: 20px 20px;
}





/* format del menu */

.celda { 
font-size:8pt;
font-family:verdana,arial;
color:#ffffff;
font-weight:bold;
padding-left:3px;
padding-bottom:2px;

    background-color: #f7a441;
}

/* texte de Usuari ( a dalt a l'esquerra ) */

.usuari { 
    font-size: 14px;
    font-family: arial;
    text-align: left;
    color: black;
}


.comentari {
margin-left: 5px;
font-family: verdana;
    font-size: 14px;

}

 .boton{
        font-size:12px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#fd9213;
        border:0px;
        width:100%;
        height:19px;
       }
 
  
       
       
.CVV2{
	visibility:hidden;
	font-size:9px;
    font-family:Verdana,Helvetica;
	}
	
.PAYPAL{
	visibility:hidden;
	font-size:9px;
    font-family:Verdana,Helvetica;
	}	
	
	
.formulari{

	font-size:11px;
    font-family:Verdana,Helvetica;
	}	