<mat-card>
  <mat-list *ngIf="user && user !== undefined">
    <mat-list-item>
      <span class="mat-font section" mat-line> Datos Personales  </span>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Nombre', user, 'name')">
      <span class="mat-font" mat-line> Nombre  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.name}}</span>
      </section>
    </mat-list-item>

    <mat-list-item (click)="openDialog('Fecha Nacimiento', user, 'birthday')">
      <span class="mat-font" mat-line> Fecha nacimiento  </span>
      <section layout-align="end"  class="mat-list-text-goal-value" layout-wrap>
        <span class="mat-font">{{user.birthday}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Altura', user, 'height')">
      <span class="mat-font" mat-line> Altura  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.height}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Peso', user, 'weight')">
      <span class="mat-font" mat-line> Peso  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.weight}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Pais', user, 'country')">
      <span class="mat-font" mat-line> Pais  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{pais.value}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Codigo Postal', user, 'postalCode')">
      <span class="mat-font" mat-line> Codigo Postal  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.postalCode}}</span>
      </section>
    </mat-list-item>
    <mat-list-item>
      <span class="mat-font" mat-line> Email  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.email}}</span>
      </section>
    </mat-list-item>

  </mat-list>
</mat-card>

<mat-card>
  <mat-list *ngIf="user && user !== undefined">
    <mat-list-item>
      <span class="mat-font section" mat-line> Unidades  </span>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Peso', user, 'units.weight')">
      <span class="mat-font" mat-line> Peso  </span>
      <section layout-align="end" layout-wrap>
        <span *ngIf="user.units.weight == 0" class="mat-font">Kg</span>
        <span *ngIf="user.units.weight == 1" class="mat-font">Lb</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Distancia', user, 'units.distance')">
      <span class="mat-font" mat-line> Distancia  </span>
      <section layout-align="end" layout-wrap>
        <span *ngIf="user.units.distance == 0" class="mat-font">Km</span>
        <span *ngIf="user.units.distance == 1" class="mat-font">Millas</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Energía', user, 'units.Energy')"> 
      <span class="mat-font" mat-line> Energía  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.units.Energy}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Agua', user, 'units.water')">
      <span class="mat-font" mat-line> Agua  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.units.water}}</span>
      </section>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-list *ngIf="user && user !== undefined">
    <mat-list-item>
      <span class="mat-font section" mat-line> Objetivos  </span>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Peso Inicial', user, 'goals.initialWeight')">
      <span class="mat-font" mat-line> Peso Inicial  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.goals.initialWeight}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Peso Actual', user, 'goals.currentWeight')">
      <span class="mat-font" mat-line> Peso Actual  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.goals.currentWeight}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Peso Deseado', user, 'goals.desireWeight')">
      <span class="mat-font" mat-line> Peso Deseado  </span>
      <section layout-align="end" layout-wrap>
        <span class="mat-font">  {{user.goals.desireWeight}}</span>
      </section>
    </mat-list-item>
    <mat-list-item (click)="openDialog('Meta Semanal', user, 'goals.weeklyGoal')">
      <span class="mat-font mat-list-text-goal-label" mat-line> Meta Semanal  </span>
      <section layout-align="end" class="mat-list-text-goal-value" layout-wrap>
        <span class="mat-font">{{myGoal}}</span>
      </section>
    </mat-list-item>
    <mat-list-item>
        <span class="mat-font" mat-line> Nivel de Actividad  </span>
        <mat-slider layout-align="end"  flex min="0" max="3" [(ngModel)]="user.goals.activityLevel" step="1" aria-label="red" (click)='saveData()'></mat-slider>
        <span  class="mat-font mat-list-text-goal-value">  {{activityLevels[user.goals.activityLevel]}}</span>
    </mat-list-item>
  </mat-list>
</mat-card>
